.navbar {
  background-color: var(--bright-coral);
  color: var(--white-text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
}

.navbar--title {
  font-weight: 400;
  font-size: 1em;
  margin-left: 0.3em;
}
